In [1]:
import pandas as pd
import yfinance as yf

In [2]:
# data = yf.download('BTC-USD',start="2015-01-01", end="2023-05-01")
data = pd.read_csv('btc_prices.csv')

In [3]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-01,320.434998,320.434998,314.002991,314.248993,314.248993,8036550
1,2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650
2,2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400
3,2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100
4,2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800
...,...,...,...,...,...,...,...
3037,2023-04-26,28300.058594,29995.837891,27324.548828,28422.701172,28422.701172,31854242019
3038,2023-04-27,28428.464844,29871.546875,28402.886719,29473.787109,29473.787109,27153445027
3039,2023-04-28,29481.013672,29572.791016,28929.609375,29340.261719,29340.261719,17544464887
3040,2023-04-29,29336.566406,29452.455078,29088.042969,29248.488281,29248.488281,10662634333
3041,2023-04-30,29245.515625,29952.029297,29114.021484,29268.806641,29268.806641,14652199272

In [4]:
data.to_csv('btc_prices.csv')

In [5]:
data.index

RangeIndex(start=0, stop=3042, step=1)

In [6]:
data['Close']

0         314.248993
1         315.032013
2         281.082001
3         264.195007
4         274.473999
            ...
3037    28422.701172
3038    29473.787109
3039    29340.261719
3040    29248.488281
3041    29268.806641
Name: Close, Length: 3042, dtype: float64

In [9]:
data = data.set_index('Date')

In [10]:
data['Close']

Date
2015-01-01      314.248993
2015-01-02      315.032013
2015-01-03      281.082001
2015-01-04      264.195007
2015-01-05      274.473999
                  ...
2023-04-26    28422.701172
2023-04-27    29473.787109
2023-04-28    29340.261719
2023-04-29    29248.488281
2023-04-30    29268.806641
Name: Close, Length: 3042, dtype: float64